- if request.xhr?
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"}= t('.close')
    %h4.modal-title
      = link_to @candidate.name, candidate_path(@candidate), class: 'candidateModal__link'
  .modal-body
    = render 'details', candidate: @candidate
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('.close')
- else
  - content_for(:meta) do
    %meta(name="description" content="#{t('site.meta_description')} #{@candidate.name} #{@candidate.province.name}")

  .container-fluid
    .row
      .col-xs-12
        %div
          = link_to :back do
            = icon('chevron-circle-left')
            = t('.back')
          %h1= @candidate.name
          %h3
            = @candidate.province.name
            ,
            = t('.electorate', electorate: @candidate.electorate.number)
            (#{@candidate.electorate.area})

        = render 'details', candidate: @candidate
