!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="#{t('site.meta_description')}")
    %meta(name="keywords" content="#{t('site.meta_keywords')}")

    %title
      - if @candidate
        = @candidate.name
        |
      = t('site.title')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'shared/header'
    .wrapper
      = yield
      .footer-push
    = render 'shared/footer'
